spring:
  datasource:
    url:  jdbc:h2:tcp://localhost/~/test
    username: sa
    password:
    driver-class-name: org.h2.Driver


  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
logging:
  level:
    org.hibernate.sql: debug # hibernate가 생성하는 모든 sql이 log로 보인다.
    org.hibernate.type: trace